.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}

.greenBg {
  background-color: #bdf906; /* Tailwind green-300 */
  color: #000;
  border-radius: 0.5rem;
  font-size: 100px;
  font-weight: 800;
  font-family: var(--font-anybody) !important;
  padding-inline: 1rem;
  padding-block: 0 !important;
}

@media (min-width: 992px) and (max-width: 1279px) {
  .greenBg {
    font-size: 70px;
  }
}

/* lg: 768px–991px */
@media (min-width: 768px) and (max-width: 991px) {
  .greenBg {
    font-size: 56px;
    padding-inline: 0.5rem;
  }
}

/* md: 480px–767px */
@media (min-width: 480px) and (max-width: 767px) {
  .greenBg {
    font-size: 40px;
    padding-inline: 0.4rem;
  }
}

/* base: 0–479px */
@media (max-width: 479px) {
  .greenBg {
    font-size: 40px;
    padding-inline: 0.4rem;
  }
}
